body {
    background-image: url(https://images5.alphacoders.com/973/thumbbig-973364.webp);
    font-size: large;
    font-style: italic;
    color: white;
}
header {
    text-transform: uppercase;
    text-shadow: 5px 5px 3px blueviolet;
    background-position: top center;
}
nav {
    color: red;
}
:link {
    color: red;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "nav nav nav aside"
    "section section section aside"
    "footer footer footer aside";
}